<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Liste des {{ element }}</title>
</head>

<!-- Template pour la liste des categories et la liste des sandwichs -->

<body>
	<nav>{% include nav.html %}</nav>
	<div class="date">{{ date }}</div>

	<div>nombre de  {{ element }} : {{ nombre }} </div>

	<h2>Liste des {{ element }}<h2>

	<!-- Liste de toutes les categories-->
	<div class="elements">
		{% for element in elements %}
			<div class="element">
		 		<h1>{{ element.nom }}</h1>
				<p>{{ element.descr }}</p>
				<a href="{{ urlElement }}">Voir le produit</a>
				<a href="{{ urlCommander }}">Commander</a>
			</div>
		{%endfor %}
	</div>

	 <a href="{{ url }}">&laquo;</a> {{ pageCourante }} <a href="{{ url }}">&raquo;<a>

	<footer>{% include footer.html %}</footer>
</body>
</html>
