<!DOCTYPE html>
<html>
<head>
	<title>Commande</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  
</head>
<style>
	section{
		color:black;
	}
	h2{
		font-size:20pt;
		margin-left:25px;
	}
	}
	.infos div div{
		text-align:center;
	}
	.nav-wrapper>a {
		margin-left:35px;
	}
	.page{
		width:140px;
		margin:auto;
	}
	footer{
		padding-bottom:20px;
		margin-top:35px;
		position:fixed;
		bottom:0px;
		width:100%;
	}
</style>
<body>	
	<nav>
		<div class="nav-wrapper orange accent-2">
			<a href="#" class="brand-logo">API Sandwichs</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Les sandwichs</a></li>
				<li><a href="#">Les catégories</a></li>
				<li><a href="#">Le Panier</a></li>
				<li><a href="#">S'authentifier</a></li>
			</ul>
		</div>
	</nav>         
	
	<section class="row infos">
		<div class="col l10 m12 offset-l1">
			<div class="col l4 m6 s12">
				<h2>10 produits dans le panier</h2>
			</div>
			<div class="col l8 s12">
			<p style="text-align:right;">10 janvier 2018</p>
		</div>
		</div>
	</section>
		
	<section class="row">
		<div class="col l10 m12 offset-l1">
		
		
			<table>
        <thead>
          <tr>
              <th>Produits</th>
              <th>Prix</th>
              <th>Quantité</th>
			  <th></th>
			  <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><p>Sandwichs XXL</p></td>
            <td>5,00 €</td>
            <td>1</td>
			<td><div class=" horizontal"><a class="btn-floating btn-large deep-orange lighten-2"><i class="large material-icons">mode_edit</i></a></td>
			<td>5,00 €</td>
          </tr>
          <tr>
            <td>Sandwichs XXL</td>
            <td>5,00 €</td>
            <td>2</td>
			<td><div class=" horizontal"><a class="btn-floating btn-large deep-orange lighten-2"><i class="large material-icons">mode_edit</i></a></td>
			<td>10,00 €</td>
          </tr>
		  <tr>
            <td>Sandwichs XXL</td>
            <td>5,00 €</td>
            <td>1</td>
			<td><div class=" horizontal"><a class="btn-floating btn-large deep-orange lighten-2"><i class="large material-icons">mode_edit</i></a></td>
			<td>5,00 €</td>
          </tr>
		  <tr>
            <td>Sandwichs XXL</td>
            <td>5,00 €</td>
            <td>1</td>
			<td><div class=" horizontal"><a class="btn-floating btn-large deep-orange lighten-2"><i class="large material-icons">mode_edit</i></a></td>
			<td>5,00 €</td>
          </tr>
		  
		  <tr>
            <td><b>Total</b></td>
            <td></td>
            <td></td>
			<td></td>
			<td><b>25,00 €</b></td>
          </tr>
        </tbody>
      </table>
	
		</div>
	</section>
	 
	 <!-- Quand < ou > n'est pas disponible li.disabled -->
	<div class="row">
		<div class="col l1 offset-l5">
		<button class="btn waves-effect waves-light deep-orange lighten-2" type="submit" name="action">Commander
			<i class="material-icons right">send</i>
		</button>
	</div>
		

	
	
	<footer class="page-footer  orange accent-2">
		<div class="container">
			Nicolas Bobelet / Yann Dumas / Alexandra Martin
			<a class="grey-text text-lighten-4 right">Projet étudiant de Cisiie 2017/2018</a>
		</div>
    </footer>
	
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
