<!DOCTYPE html>
<html>
<head>
	<title>Le sandwich XXL</title>
	<!--Import Google Icon Font-->
	{% include "head.html" %}

</head>
<style>
	section{
		color:black;
	}
	h2{
		font-size:20pt;
		margin-left:25px;
	}
	}
	.infos div div{
		text-align:center;
	}
	.nav-wrapper>a {
		margin-left:35px;
	}
	.page{
		width:140px;
		margin:auto;
	}
	footer{
		padding-bottom:20px;
		margin-top:35px;
		position:fixed;
		bottom:0px;
		width:100%;
	}
</style>
<body>
	<nav>
		{% include "navbar.html" %}
	</nav>

	<section class="row infos">
		<div class="col s12">
			<p style="text-align:center;">10 janvier 2018</p>
		</div>
	</section>

	<section class="row">
		<div class="col l6 m10 offset-l3 offset-m1">

			<div class="col l12">
				<div class="card">
					<div class="card-content">
						<h2>{{ nom }}</h2>
						<p>{{ description }}</p>


						
					</div>
					<div class="card-action">
						<ul>
							{% for taille in tailles %}
								<li>{{taille.nom}}</li>
								<li>{{taille.prix}}</li>
								<a href="#">AJOUTER AU PANIER</a>
							{% endfor %}
						</ul>

					</div>
				</div>
			</div>

		</div>
	</section>


	<section class="row">
		{% include "navigation.html" %}
	</section>

	<footer class="page-footer  orange accent-2">
		{% include "footer.html" %}
  </footer>

	</body>
</html>
