<!DOCTYPE html>
<html>
<head>
	<title>Liste des sandwichs</title>
	{% include "head.html" %}
</head>
<style>
	section{
		color:black;
	}
	h2{
		font-size:20pt;
		margin-left:25px;
	}
	}
	.infos div div{
		text-align:center;
	}
	.nav-wrapper>a {
		margin-left:35px;
	}
	.page{
		width:140px;
		margin:auto;
}
	footer{
		padding-bottom:20px;
		margin-top:35px;
		position:fixed;
		bottom:0px;
		width:100%;
	}

	.modal {
		background-color: darkslategrey;
	}
</style>
<body>
	<nav>
		{% include "navbar.html" %}
	</nav>

	<section class="row infos">
		<div class="col l10 m12 offset-l1">
			<div class="col l4 m6 s12">
				<h2>Sandwichs  {{ titre}}</h2>
			</div>
		</div>
	</section>

	<section class="row">
		<div class="col l10 m12 offset-l1">
			{% for sandwich in sandwichs %}
				<div class="col l4 m6 s12">
					<div class="card">
						<div class="card-content">
							<h3>{{sandwich.nom}}</h3>
							<p>{{sandwich.description}}</p>
						</div>
						<div class="card-action">
							<a href="{{sandwich.liensand}}">EN SAVOIR PLUS</a>
							<form method="post" action="{{sandwich.liensuppr}}">
								<input type="hidden" name="_METHOD" value="DELETE"/>
								<button type="submit">SUPPRIMER CE SANDWICH</button>
							</form>
						</div>
					</div>
				 </div>
				{% endfor %}
			 </div>
	</section>

	<section class="row">
		{% include "navigation.html" %}
	</section>

	<footer class="page-footer  orange accent-2">
		{% include "footer.html" %}
	</footer>
</body>
</html>
