<div class="nav-wrapper orange accent-2">
			<a href="#" class="brand-logo">API Sandwichs</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/sandwichs"><i class="material-icons center">kitchen</i>Les sandwichs</a></li>
				<li><a href="/categories"><i class="material-icons center">bookmark</i>Les catégories</a></li>
				<li><a href="/card"><i class="material-icons center">loyalty</i>Le Panier</a></li>
				<li><a href="#"><i class="material-icons center orange darken-1">https</i>Espace pro</a></li>
			</ul>
</div>
